body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0099cc;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}

header #logo {
    width: 100px;
    position: absolute;
    left: 20px;
    top: 10px;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#fish-image img {
    width: 300px;
    height: auto;
    border: 5px solid #ddd;
}

#fish-image h2 {
    text-align: center;
}

#fish-info {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px #aaa;
}

#fish-info h3 {
    color: #555;
}

button {
    background-color: #005f7f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
}

button:hover {
    background-color: #007faa;
}
