<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Say Hello</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="fullScreenImageContainer">
        <img src="https://scontent.fsyd11-1.fna.fbcdn.net/v/t39.30808-1/438254276_2799351346889313_6693145918194251885_n.jpg?stp=c122.0.480.480a_dst-jpg_p480x480&_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=rF-jh1yQVLAQ7kNvgGTXif9&_nc_ht=scontent.fsyd11-1.fna&oh=00_AYBUvOVjSXb4C7usdXrYpEQdFM9neCkajbWityYIyy2Rtg&oe=66588490" alt="Full Screen Image" id="fullScreenImage">
    </div>
    <div id="buttonContainer">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" id="fileInput" required>

        </form>
        <button id="anotherButton" onclick="redirectToResults()">Check the Animal</button>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <script>
        function redirectToResults() {
            const fileInput = document.getElementById('fileInput');

            if (fileInput.files.length > 0) {
                window.location.href = '/results';
            } else {
                alert('Please select a file first');
            }
        }
    </script>
</body>
</html>