<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Analysing Sea Creatures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="logoContainer">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ASC Logo" id="logo">
    </div>
    <div id="fullScreenImageContainer">
        <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="Full Screen Image" id="fullScreenImage">
    </div> 
    <div id="buttonContainer">
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" id="fileInput" required>
            <button type="submit" id="submitButton">Upload and Check the Animal</button>
        </form>
    </div>
    
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <script>
        document.getElementById('uploadForm').onsubmit = function() {
            const fileInput = document.getElementById('fileInput');

            if (fileInput.files.length > 0) {
                document.getElementById('submitButton').disabled = true;
            } else {
                alert('Please select a file first');
                return false;
            }
        };
    </script>
</body>
</html>
